// Define the color palette
// $color-1: #002C2B; // background
// $color-2: #FF3D00; // font
// $color-3: #FFBC11; // hyperlinks & action
// $color-4: #0A837F; // final touches
// $color-5: #076461; // background 2

// my attempt
$colour-1: #1d1f20; // dark jungle green
$colour-2: #d0cd94; // tan
$colour-3: #ffd700; // gold
$colour-4: #92140c; // sangria, alt: 09814a spanish viridian
$colour-5: #076461; // tropical rain forest
