// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #076461
$secondary = #92140c
$accent    = #ffd700

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

@import '~quasar-variables-styl'
