@import 'palette.scss';

body {
    width: 100%;
    height: 100%;
    margin: 0;
  }

// The menu
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  //height: 100vh;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  // Style the menu here.
  //background-color: #1d1f20;
  background-color: $colour-1;
  color: $colour-2;
  // hide scrollbar
  overflow-y: hidden;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

// Page content
.slideout-panel {
  // bg colour on the panel is required to correctly cover the menu.
  background-color: $colour-1;
  color: $colour-2;
  position: relative;
  z-index: 1;
  will-change: transform;
  min-height: 100vh;
  // hide horizontal scrollbar
  overflow-y: hidden;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

@media screen and (min-width: 780px) {
  .slideout-panel {
    margin-left: 256px;
  }

  .slideout-menu {
    display: block;
  }

  // Hide the toggler. .btn-hamburger
  .navbar-toggler {
    display: none;
  }
}
