// Define the color palette
// $color-1: #002C2B; // background
// $color-2: #FF3D00; // font
// $color-3: #FFBC11; // hyperlinks & action
// $color-4: #0A837F; // final touches
// $color-5: #076461; // background 2

// my attempt
$colour1: #1d1f20; // dark jungle green
$colour2: #d0cd94; // tan
$colour3: #ffd700; // gold
$colour4: #92140c; // sangria, alt: 09814a spanish viridian
$colour5: #076461; // tropical rain forest

/* Potential replacements from the material palette:
https://v1.quasar-framework.org/style/color-palette#Color-List
https://material.io/design/color/

background, 1: (blue-)gray-10
text,       2: amber-2
action      3: amber-4 (or 5)
extra       4: red-10
back2       5: teal-9
*/